.search-button, .delete-button {
  cursor: pointer;
  border: solid;
  color:aqua;
  background-color:aqua;
  margin-top: 5px;
  margin-left: 15px;
  height: 30px;
}

#foobar {
  display: block;
}
#text {
  vertical-align: right;
  float: left;
  text-align: left;
}

/* #buttonID {
  float: right;
} */
.search-button{
  width:200px;
}
.delete-button{
  width: 100;
  background-color: aqua;
}
#search-input{
  width:300px;
}

.headers{
  display: none;
}
#header-today{
  display: inline;
}
.form {
  margin-left:0;
}
.list-group button {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}
#today {
  padding-left: 30px;
  font-size: larger;
  font-weight: 300px;
  border : solid;
  height:300px;
}
#today div {
  margin-top: 20px;
}
#forecast{
  /* padding-left: 30px; */
  height: 300px;
  font-size: larger;
  font: weight 300;
  color: white;
}
.fore-cast {
  background-color:darkslategray;
  margin: 10px;
  padding-top: 10px;
}
.fore-cast, div {
  margin-top: 20px;
  /* font-size: x-large; */
} 
.today-heading{
  font-size: xx-large;
  font-weight: bold;
}
